---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">

<head>
    {% include head.html %}
    
</head>
<body class="body">

    {% include banner-top.html %}
    <div class="container">
    {% include content-header.html %}

        <div class="content">
            <!-- trianglify pattern container -->
            <div class="pattern pattern--hidden"></div>
            <!-- cards -->
            <div class="wrapper">
                {% for post in site.posts %}
                <div class="card" data-id="{{ post.id }}">
                    <div class="card__container card__container--closed">
                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200"
                            preserveAspectRatio="xMidYMid slice">
                            <defs>
                                <clipPath id="{{ post.id }}-clip-path">
                                    <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                                </clipPath>
                            </defs>
                            <image clip-path="url(#{{ post.id }}-clip-path)" width="1920" height="1200"
                                xlink:href="{{ post.image }}"></image>
                        </svg>
                        <div class="card__content">
                            <i class="card__btn-close fa fa-times"></i>
                            <div class="card__caption">
                                <h2 class="card__title">{{ post.title }}</h2>
                                <p class="card__subtitle">{{ post.subtitle }}</p>
                            </div>
                            <div class="card__copy">
                                <div class="meta">
                                    <img class="meta__avatar" src="{{ post.avatar }}"/>
                                    <span class="meta__author">{{ post.author }}</span>
                                    <span class="meta__date">{{ post.date | date: "%Y-%m-%d" }}</span>
                                </div>
                                {{ post.content }}
                                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                    {% assign active = true %}
                                    {% for img in site.static_files %}
                                        {% if img.path contains 'img/kinyeti' %}
                                        <li data-target="#carouselIndicators" {%if active %}class="active"{%endif%} data-slide-to="{% increment my_counter %}"></li>
                                        {% assign active = false %}
                                        {% endif %}
                                    {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                    {% assign active = true %}
                                    {% for img in site.static_files %}
                                        {% if img.path contains 'img/kinyeti' %}
                                        <div class="carousel-item {%if active %}active{%endif%}">
                                            {% assign active = false %}
                                        <img src="{{ img.path | relative_url }}" class="d-block w-100 h-100">
                                      </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /cards -->
            </div>
        </div>
    <!-- /container -->
    </div>
    <footer>
        <div class="container">
            {% include footer.html %}
        </div>
    </footer>

  {% include scripts.html %}

</body>
</html>
