
        <div class="banner-top">
            <div class="social-bnr-agileits">
                <ul>                    
                    <li><a href="./contact.html"><i class="fa fa-at fa-3x"></i></a></li>
                    <li><a href="https://www.facebook.com/pg/lacasadms"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="http://m.me/lacasadms"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="contact-bnr-w3-agile">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:{{ site.international_phone }}">{{ site.phone }}</a></li>  
                    <li>
                        <div class="search">
                            <input class="search_box" type="checkbox" id="search_box">
                            <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                            <div class="search_form">
                                <form action="#" method="post">
                                    <input type="search" name="Search" placeholder="Search..." required="" />
                                    <input type="submit" value="Send" />
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
