
<nav class="links">
    {% if site.twitter.username %}
      <a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a>
    {% endif %}
    {% if site.facebook.username %}
      <a href="https://www.facebook.com/{{ site.facebook.username }}"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a>
    {% endif %}
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a>
    {% endif %}
    {% if site.author.gitlab %}
      <a href="https://gitlab.com/{{ site.author.gitlab }}"><i class="fab fa-fw fa-gitlab" aria-hidden="true"></i> Gitlab</a>
    {% endif %}
    {% if site.author.bitbucket %}
      <a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a>
    {% endif %}
    <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fa fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a>
  </nav>
  
  <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
  